{% extends "layout.html" %}
{% block title %}Story - {{ context.story.title }}{% endblock %}

{% block content %}
<div class="jumbotron detail">
	<div class="container">
		<h1>{{ context.story.title }}</h1>

		<div class="pull-right">
			<h4><a href="{{ context.story.url }}" target="_blank">Ref.</a></h4>
		</div>

		<p>{{ context.story.text }}</p>
	</div>
</div>

<div class="container">
	<ul class="comments media-list">
  {% for comment in context.comments %}
    <li class="media">
    	<div class="media-body">
      	<blockquote>{{ comment.text }}</blockquote>
      </div>
  	</li>
  {% endfor %}
  </ul>
</div>

{% endblock %}
