{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <h1>Hello, Bootstrap</h1>
  <div>
  	<label>Switch language</label>
  	<select name="switch-lang" id="switch-lang">
  		<option value="en" selected>English</option>
  		<option value="pt">Portuguese</option>
  		<option value="de">German</option>
  	</select>
  </div>

	<table class="topstories">
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
			</tr>
		</thead>
		<tbody>
			{% for story in context.topstories %}
				<tr>
					<td><a href="/detail/{{ story.id }}">{{ story.id }}</a></td>
					<td class="title" data-default="{{ story.title }}">{{ story.title }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock %}

{% block scripts %}
{{ super() }}
<script>

	var requested_translations = [];

	function resetTranslations(){
		$("table.topstories tbody tr td.title").each(function(index, value){
			$(value).html($(value).data('default'));
		});
	}

	function checkTranslationsStatus(data, num_items){
		if (data.length > 0 && data.length == num_items) {
			return data.every(function(elem) { return true ? elem.status == 'completed' : false });
		}
		return false;
	}

	function pollingResultsUnbabel(){
			console.log('polling translations...');
			polling_every = 3000 // milliseconds
			setTimeout(function(){
				if (!is_done) {
			    $.ajax({ 
			    	url: "/api/get-translations/" + requested_translations.join(','), 
			    	contentType:"application/json; charset=utf-8",
			    	dataType: "json",
						success: function(data){
			        is_done = checkTranslationsStatus(data, requested_translations.length);
			        response = data;
			    	}, complete: pollingResultsUnbabel, timeout: 2000
			    });
			  } else {
			  	console.log('translations received...');
			  	translateTitles(response);
			  	cacheTranslations(response);
			  }
			}, polling_every);
	}

	function translateTitles(data){
		console.log('translating content');
		$.each(data, function(i, v){
			$('*[data-default="' + v.text +'"]').html(v.translatedText);
		});
	}

	function requestTranslations(texts, target_lang){
		console.log('requesting translations...');
		$.ajax({
			  url: "/api/request-translation",
			  type: 'POST',
			  contentType:"application/json; charset=utf-8",
				dataType:"json",
			  data: JSON.stringify({'texts': texts, 'source_lang': 'en', 'target_lang': target_lang})
			}).success(function(data) {
			  is_translated = data['is_translated'];
			  requested_translations = data['results'];
			  console.log('translations requested successfully.');
			  if (is_translated){
			  	console.log('translations were found in cache.');
			  	translateTitles(requested_translations)
			  } else {
				  // start polling results
				  is_done = false;
				  response = [];
					pollingResultsUnbabel();
				}
			});
	}

	function cacheTranslations(translations){
		console.log('caching translations...');
		$.ajax({
			  url: "/api/cache-translations",
			  type: 'POST',
			  contentType:"application/json; charset=utf-8",
				dataType:"json",
			  data: JSON.stringify(translations)
			}).success(function(data) {
			  console.log('translations cached successfully.');
			});
	}

	$(document).ready(function(){
		console.log('ready');

		$('#switch-lang').on('change', function (e) {
			var optionSelected = $("option:selected", this);
			var valueSelected = this.value;

			if (valueSelected == 'en') {
				resetTranslations();
			} else {
				titles = $.map($("table.topstories tbody tr td.title"), function( elem ) {
				  return elem.dataset.default;
				});
				requestTranslations(titles, valueSelected);
			}

		});

	});
</script>
{% endblock %}