{% extends "layout.html" %}
{% block title %}This is an example page{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block language_switcher %}
	{% include 'language_switcher.html' %}
{% endblock %}

{% block content %}
<div class="jumbotron home">
  <div class="container">
    <h1>Hacker News Multilingual Support!</h1>
    <p>This is a small project using that provides some extra functionalites on top of HackerNews website.
    <br/>Thanks to HackerNews API and Unbabel API we can have content translated in different languages.</p>
  </div>
</div>

<div class="container">
	<button class="btn btn-info btn-md btn-translating"><i class="fa fa-circle-o-notch fa-spin"></i> Translating</button>
</div>

<div class="container">
	<table class="topstories table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
			</tr>
		</thead>
		<tbody>
			{% for story in context.topstories %}
				<tr>
					<td><a href="/detail/{{ story.id }}">{{ story.id }}</a></td>
					<td class="title" data-default="{{ story.title }}">{{ story.title }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>
<script src="/app/static/js/main.js"></script>
<script>
	$(document).ready(function(){
		console.log('ready');

		$('.selectpicker').selectpicker();

		$('#switch-lang').on('change', function (e) {
			var optionSelected = $("option:selected", this);
			var valueSelected = this.value;

			if (valueSelected == 'en') {
				resetTranslations();
			} else {
				titles = $.map($("table.topstories tbody tr td.title"), function( elem ) {
				  return elem.dataset.default;
				});
				requestTranslations(titles, valueSelected);
			}

		});

	});
</script>
{% endblock %}