<div id="navbar" class="navbar-collapse collapse">
	<div class="lang-container pull-right">
  	<select class="selectpicker" data-width="fit" name="switch-lang" id="switch-lang">
			<option data-content='<span class="flag-icon flag-icon-gb"></span> English' value='en' selected>English</option>
			<option data-content='<span class="flag-icon flag-icon-pt"></span> Português de Portugal' value='pt'>Português (Portugal)</option>
			<option data-content='<span class="flag-icon flag-icon-de"></span> Deutsch' value='de'>Deutsch</option>
			<option data-content='<span class="flag-icon flag-icon-fr"></span> Français' value='fr'>Français</option>
			<option data-content='<span class="flag-icon flag-icon-it"></span> Italiano' value='it'>Italiano</option>
		</select>
	</div>
</div><!--/.navbar-collapse -->
